<%= form_for(@question, url:paper_question_url) do |f| %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :tag %><br>
      <%= f.text_area :tag %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>