
<link rel="stylesheet" type="text/css" href="/static/css/paper_show/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/paper_show/demo.css" />
<link rel="stylesheet" type="text/css" href="/static/css/paper_show/component.css" />
<div id="perspective" class="perspective effect-movedown">
  <div class="container">
    <div class="wrapper"><!-- wrapper needed for scroll -->
      <header class="codrops-header">
        <h1><%= @paper.name %><span><%= @paper.title %></span></h1>
      </header>
      <div class="main clearfix">
        <div class="column">
          <p><button id="showMenu">目录</button></p>
          <p><%= @paper.description %></p>
        </div>
        <div class="column">
<%= form_for([@paper, @paper.questions.build]) do |f| %>
    <p>
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
        </div>
      </div><!-- /main -->
    </div><!-- wrapper -->

  </div><!-- /container -->
</div>
