<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.tag %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.answer %>
</p>

<% @question.answers.each do |answer| %>
	<p>
		<strong>sing:</strong>
		<%= answer.sign %>
	</p>

<% end %>
