<link rel="stylesheet" type="text/css" href="/static/css/paper_show/normalize.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/paper_show/demo.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/paper_show/component.css"/>
<div id="perspective" class="perspective effect-movedown">
  <div class="container">
    <div class="wrapper"><!-- wrapper needed for scroll -->
      <header class="codrops-header">
        <h1><%= @question.paper.name %><span><%= @question.paper.title %></span></h1>
      </header>
      <div class="main clearfix">
        <p>
          <strong>内容:</strong>
          <%= @question.content %>
        </p>
        <a href="<%= url_for edit_paper_question_path %>">
          <button class="btn btn-warning">修改</button>
        </a>
        <a href="<%= url_for paper_path(@question.paper.id) %>">
          <button class="btn btn-default">确定</button>
		</a>
		<a href="<%= url_for new_paper_question_answer_url(@question.paper, @question) %>">
			<button class="btn btn-info">新建答案</button>
		</a>
		<div class="row">
			<% @answer_num=0 %>
				<% @question.answers.all.each do |answer| %>
						<div class="<%= answer.correct == true ? 'correct-answer' : 'wrong-answer'  %>" >
					<p>
						答案<%= @answer_num+=1 %>:
						<%= answer.correct == true ? '正确' : '错误' %>
					</p>
					<p>
						<%= answer.content %>
					</p>
					</div>
			<% end %>
		</div>
      </div><!-- /main -->
    </div><!-- wrapper -->
  </div><!-- /container -->
</div>
