<link rel="stylesheet" type="text/css" href="/static/css/paper_show/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/paper_show/demo.css" />
<link rel="stylesheet" type="text/css" href="/static/css/paper_show/component.css" />
<div id="perspective" class="perspective effect-movedown">
  <div class="container">
    <div class="wrapper"><!-- wrapper needed for scroll -->
      <header class="codrops-header">
        <h1><%= @question.paper.name %><span><%= @question.paper.title %></span></h1>
      </header>
      <div class="main clearfix">
        <div class="column">
          <p><button id="showMenu">目录</button></p>
          <p><%= @question.paper.description %></p>
        </div>
        <div class="column">
<%= form_for([@question.paper, @question, @question.answers.build]) do |f| %>
    <p>
      <%= f.label :content %><br>
      <%= f.text_field :content %>
    </p>
	<%= f.select(:correct, options_for_select([['正确',1],['错误',2]])) %>
    <p>
      <%= f.submit %>
    </p>
<% end %>
	</div>
	</div><!-- /main -->
    </div><!-- wrapper -->

  </div><!-- /container -->
</div>
