<html>
<head>
	<link href="/static/css/paper_show/default.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
<p>
  <strong>Title:</strong>
  <%= @paper.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @paper.description %>
</p>
<%= link_to '返回', papers_url %>
<%= link_to '编辑', edit_paper_url %>




<nav class="menu menu--adsila">
	<% @questions.each do |question| %>
    <%= link_to question.title, paper_question_path(@paper, question) %>
		<a class="menu__item" href="<%= url_for(paper_question_path(@paper,question)) %>">
			<span class="menu__item-name"><%= question.title %></span>
			<span class="menu__item-label"><%= question.body %></span>
		</a>
	<% end %>
</nav>
</body>
</html>
