<h1><%= @paper.name %><span><%= @paper.title %></span></h1>
<%= form_for([@paper, @paper.examinations.build]) do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_area :name %>
	</p>
	<p>
		<%= f.label :code %><br>
		<%= f.text_area :code %>
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>
